<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<title>Insert title here</title>
</head>
<body>

	<form action="setQuery">

		<input type="text" name="t1"><br> 
		Date Start <input type="date" name="dateStart">
		Date End <input type="date" name="dateEnd">
		
		
	<label for="dateInterval">Time Interval</label>
	<select id="dateInterval" name="dateInterval">
	  <option value="1d">1D</option>
	  <option value="1w">1W</option>
	  <option value="1m">1M</option>
	  <option value="1y">1Y</option>
	</select>
	
	<label for="symbol">Time Interval</label>
	<select id="symbol" name="symbol">
	  <option value="1D">TempHolder</option>
	</select>
	<br>
	<input type="submit">	
	</form>
	
	
</body>
</html>