
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>



</head>
<body>
	<form action="#">
	  <select id="symbol" name="item" onchange="setSymbol()">
	    <option value="XBT:perpetual">XBT/USD</option>
	  </select>
	</form>
	
	<form action="#">
	  <select id="time" name="item" onchange="setTime()">
	  	<option value="1H">1H</option>
	  	<option value="4H">4H</option>
	    <option value="1D">1D</option>
	  </select>
	  
	</form>
	<input type="submit" value="Submit">
	<script>
		var Parameter {
			time : "1H",
			symbol: "XBT/USD",
		}
		
		function setSymbol() {
			Parameter.symbol = document.getElementById("symbol");
		}
		
		function setTime() {
			Parameter.time = document.getElementById("time");
		}
	</script>
</body>
	
</html>