<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bitmex Chart example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  
</head>
<body onload="helloworld()">
   
    <!-- input type="button" onclick="letMeCallYou()" value="test" -->
    
    <h2>Bitmex Chart</h2>
    <script type="text/javascript" th:src="@{chart.js}"></script> 
    
</body>
	
</html>